*.db

# Editor directories and files
/.vscode
**/.vscode/*
.vscode/
.vscode/**/*
.idea/
*.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/settings.json


# Scripts directory
scripts/*
scripts/**/*
.vscode/settings.json
