*.db

# Editor directories and files
/.vscode
**/.vscode/*
.vscode/
.vscode/**/*
.idea/
*.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/settings.json
.gitignore
./.yarn/**/*

# Scripts directory
scripts/*
scripts/**/*
.vscode/settings.json

# Data directory
data/backups/**/*/
data/locks/**/*/
data/logs/**/*/
data/data.db
